<%include header%>
<ul class="breadcrumb">
    <li><a href="/admin/index">米读后台</a></li>
    <li><a href="#">栏目管理</a></li>
    <li class="active">栏目列表</li>
</ul>

<div class="datalist">
    <div class="title">栏目列表</div>
    <table class="table">
        <thead>
            <tr>
                <td>排序</td>
                <td>名称</td>
                <td>简介</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <%datas.forEach(function(item){%>
            <tr>
                <td><%=item.order%></td>
                <td><%=item.name%></td>
                <td><%=item.info%></td>
                <td><%=item.ctime.toLocaleString()%></td>
                <td>
                    <a href="/admin/itemEdit/<%=item._id%>">编辑</a>
                    <a href="/admin/itemRemove/<%=item._id%>" onclick="return confirm('您确定要删除吗？')">删除</a>
                </td>
            </tr>
        <%})%>
    </table>
</div>
<%include footer%>